/* ========================= */
/* == custom banner image == */
/* ========================= */
/*
	Frontmatter class
		cssClass: custom-banner
	
	Add this after your frontmatter (replace xyz.jpg with your own image path:
		<div class="banner-image" style="background-image:url('https://xyz.jpg');"></div>

	Optionally Frontmatter Classes to further adjust image size, image display position,
	image display fade percentage or solid, image border radius and frontmatter shift
		
		image size (height) [default cb-size3]:
		cb-size1, cb-size2, cb-size3, cb-size4, cb-size5

		image position [default cb-pos2]:
		cb-pos1, cb-pos2, cb-pos3, cb-pos4, cb-pos5

		image bottom fade [default cb-fade4]:
		cb-fade1, cb-fade2, cb-fade3, cb-fade4, cb-fade5

		solid [default not included]:
		cb-solid

		border radius [default not included]:
		cb-bradius

		push frontmatter (vertically from top) [default cb-fm-push5]:
		cb-fm-push1, cb-fm-push2, cb-fm-push3, cb-fm-push4, cb-fm-push5

		frontmatter bottom (move frontmatter to bottom of page) [default not included]:
		cb-fm-bottom
*/

/* ------------------------------------------------------------------ */
/* -- configure default: move banner image to top, fade/size, etc. -- */
/* ------------------------------------------------------------------ */
.custom-banner .custom-banner-image {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	background-size: cover; 
	background-position: 50% 25%;
	overflow: hidden;  
	mask-image: linear-gradient(to bottom,black -50%,transparent);
	-webkit-mask-image: linear-gradient(to bottom,black -50%,transparent);
	height: 240px;
	pointer-events: none;
}

/* -------------------------- */
/* -- image size (height)  -- */
/* -------------------------- */
.cb-size1 .custom-banner-image { height: 150px; }
.cb-size2 .custom-banner-image { height: 200px; }
.cb-size3 .custom-banner-image { height: 240px; }
.cb-size4 .custom-banner-image { height: 300px; }
.cb-size5 .custom-banner-image { height: 350px; }

/* ----------------------------- */
/* -- image position from top -- */
/* ----------------------------- */
.cb-pos1 .custom-banner-image { background-position: 50% 0%; }
.cb-pos2 .custom-banner-image { background-position: 50% 25%; }
.cb-pos3 .custom-banner-image { background-position: 50% 50%; }
.cb-pos4 .custom-banner-image { background-position: 50% 75%; }
.cb-pos5 .custom-banner-image { background-position: 50% 100%; }

/* --------------------------- */
/* -- image fade percentage -- */
/* --------------------------- */
.cb-fade1 .custom-banner-image {
	mask-image: linear-gradient(to bottom,black 20%,transparent);
	-webkit-mask-image: linear-gradient(to bottom,black 20%,transparent);
}
.cb-fade2 .custom-banner-image {
	mask-image: linear-gradient(to bottom,black 0%,transparent);
	-webkit-mask-image: linear-gradient(to bottom,black 0%,transparent);
}
.cb-fade3 .custom-banner-image {
	mask-image: linear-gradient(to bottom,black -20%,transparent);
	-webkit-mask-image: linear-gradient(to bottom,black -20%,transparent);
}
.cb-fade4 .custom-banner-image {
	mask-image: linear-gradient(to bottom,black -50%,transparent);
	-webkit-mask-image: linear-gradient(to bottom,black -50%,transparent);
}
.cb-fade5 .custom-banner-image {
	mask-image: linear-gradient(to bottom,black -75%,transparent);
	-webkit-mask-image: linear-gradient(to bottom,black -75%,transparent);
}

/* ----------------------------------- */
/* -- display solid image (no fade) -- */
/* ----------------------------------- */
.cb-solid .custom-banner-image {
	mask-image: unset !important;
	-webkit-mask-image: unset !important;
}

/* -------------------------------- */
/* -- add border-radius to image -- */
/* -------------------------------- */
.cb-bradius .custom-banner-image { border-radius: 17px !important; }

/* ------------------------------------------------------------------ */
/* -- push frontmatter container down to give room to banner image -- */
/* ------------------------------------------------------------------ */
.custom-banner .frontmatter-container {
	position: relative;
	z-index: 2;
	margin-top: 150px;
}
.cb-size1 .frontmatter-container { margin-top: 110px; }
.cb-size2 .frontmatter-container { margin-top: 120px; }
.cb-size3 .frontmatter-container { margin-top: 150px; }
.cb-size4 .frontmatter-container { margin-top: 210px; }
.cb-fm-push1 .frontmatter-container { margin-top: 0px !important; }
.cb-fm-push2 .frontmatter-container { margin-top: 35px !important; }
.cb-fm-push3 .frontmatter-container { margin-top: 75px !important; }
.cb-fm-push4 .frontmatter-container { margin-top: 90px !important; }
.cb-fm-push5 .frontmatter-container { margin-top: 150px !important; }

/* ---------------------------------------- */
/* -- move frontmatter to bottom of page -- */
/* ---------------------------------------- */
.cb-fm-bottom .markdown-preview-sizer.markdown-preview-section {
	display: flex;
	flex-direction: column;
}
.cb-fm-bottom .mod-header + div { order: 2; }
.cb-fm-bottom.cb-fm-push1 .mod-header { margin-bottom: 0px !important; }
.cb-fm-bottom.cb-fm-push2 .mod-header { margin-bottom: 35px !important; }
.cb-fm-bottom.cb-fm-push3 .mod-header { margin-bottom: 75px !important; }
.cb-fm-bottom.cb-fm-push4 .mod-header { margin-bottom: 90px !important; }
.cb-fm-bottom.cb-fm-push5 .mod-header { margin-bottom: 150px !important; }
.cb-fm-bottom .mod-header + div + div + div,
.cb-fm-bottom .mod-header + div + div + div + div,
.cb-fm-bottom .mod-header + div + div + div + div + div {
	z-index: 1;
}
.cb-fm-bottom span.top-links,
.cb-fm-bottom span.top-links ~ a.internal-link {
	top: 20px !important;
}
